<div class="d-flex" [formGroup]="group">
  <ng-container *ngFor="let item of config.options">
    <label
      class="shadow-sm py-3 px-3 mb-0"
      [ngClass]="{
        active: group.get(config.name)?.value === item.value
      }"
    >
      <input
        type="radio"
        [value]="item.value"
        [formControlName]="config.name"
      />
      <div class="d-flex align-items-center justify-content-center flex-column">
        <img [src]="item.icon" />

        <span
          class="mt-2 d-none d-sm-block"
          [ngClass]="{
            required: config.required
          }"
        >
          {{ item.label }}
        </span>
        <small class="text-muted">
          {{ item.description }}
        </small>
      </div>
    </label>
  </ng-container>
</div>
