@import "/src/styles/utilities";
@import "/src/styles/variables";

.billboard-name {
  font-size: inherit;
  border-bottom: none;
}

img {
  width: 4rem;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  display: flex;
  align-items: center;
  min-width: 3rem;
  max-width: 3rem;
}
