@import "/src/styles/utilities";
@import "/src/styles/variables";

.form-control-plaintext {
  font-size: inherit;
}

img {
  width: 4rem;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
