@font-face {
  font-family: "Playfair-Italic";
  src: url(../assets/fonts/PlayfairDisplay-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url(../assets/fonts/PlayfairDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "Moon-Light";
  src: url(../assets/fonts/Moon2.0-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Moon2.0-Regular";
  src: url(../assets/fonts/Moon2.0-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Moon-Bold";
  src: url(../assets/fonts/Moon2.0-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Less";
  src: url(../assets/fonts/Less.otf) format("opentype");
}
