@import "./variables";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "info": $info,
  "success": $success,
  "danger": $danger
);

$body-color: $font-color;
$headings-font-family: $font-monospace;
$font-family-sans-serif: $font-sans-serif;
