@import "/src/styles/variables";

.min-box-height {
  min-height: calc(
    100vh - (80px + 1rem)
  ); // 100vh - (header height + header bottom margin)
}

.divider {
  &-h {
    &t {
      border-top: 1px solid $light;
    }

    &b {
      border-bottom: 1px solid $light;
    }
  }

  &-v {
    &l {
      border-left: 1px solid $light;
    }

    &r {
      border-right: 1px solid $light;
    }
  }
}

@mixin underline() {
  &::after {
    top: 1rem;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    background: $primary;
    transition: width 1s ease 0s;
    width: 0;
  }

  &:hover,
  &.active {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}
