/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./utilities";
@import "./fonts";
@import "./theme";
@import "~bootstrap/scss/bootstrap";

body {
  font-size: 0.75rem;
  letter-spacing: 1px;

  & input {
    &::placeholder {
      color: #cdcdcd;
    }

    &:focus-visible {
      outline: none !important;
    }

    &.form-control {
      border: none;
      border-bottom: 1px solid $light;

      &:read-only {
        cursor: default;
      }

      &:focus {
        border-bottom-color: $info;
      }

      &.is-invalid {
        border-bottom-color: $danger;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  letter-spacing: 2px;
}

label,
span {
  &.required {
    &::after {
      content: "*";
      color: $danger;
      font-size: 1rem;
    }
  }
}

.marker-label {
  background: $info;
  margin-bottom: 4rem;
  padding: 0.25rem;
  opacity: 0.75;
}
