@import "/src/styles/utilities";
@import "/src/styles/variables";

.header {
  margin-bottom: 1rem;

  &-link {
    embed {
      width: 9rem;
    }
  }
  &-content {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .navigation {
      text-transform: uppercase;
      letter-spacing: 2px !important;

      ul {
        margin-bottom: 0;

        & li {
          margin-right: 3rem;
          cursor: pointer !important;

          & .navigation-link {
            color: $font-color;
            position: relative;

            @include underline;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
