@import "/src/styles/utilities";

.header {
  margin-bottom: 1rem;

  &__link {
    embed {
      width: 9rem;
    }
  }
  &__content {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .navigation {
      text-transform: uppercase;
      letter-spacing: 2px !important;

      ul {
        margin-bottom: 0;

        & li {
          margin-right: 3rem;

          & .navigation__link {
            color: var(--body-color);
            position: relative;

            @include underline;
          }
        }
      }
    }
  }
}
