<header>
  <div class="header__content">
    <a class="header__link" href="/">
      <embed type="image/svg+xml" src="assets/logos/brand.svg" />
    </a>
    <div class="d-none d-md-block align-self-center">
      <nav class="navigation">
        <ul>
          <li class="d-inline-block">
            <a
              class="navigation__link"
              routerLinkActive="active"
              [routerLink]="['home']"
            >
              Home
            </a>
          </li>
          <li class="d-inline-block">
            <a
              class="navigation__link"
              routerLinkActive="active"
              [routerLink]="['billboard']"
            >
              Billboards
            </a>
          </li>
          <li class="d-inline-block">
            <a
              class="navigation__link"
              routerLinkActive="active"
              [routerLink]="['blip']"
            >
              Blips
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
