@import "/src/styles/variables";

.billboard-icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.pin {
  color: $danger;
}

.search {
  color: $primary;
}

.list-group-item {
  border-left: 4px solid transparent;
  cursor: pointer;
  transition: background-color 0.5s, border-left 0.5s;
  z-index: 1;

  &:hover,
  &.active {
    background-color: $light;
    border-color: rgba(0, 0, 0, 0.125);
    border-left: 4px solid $primary;
    color: $font-color;
    transition: background-color 0.5s, border-left 0.5s;
  }

  .name {
    font-family: $font-monospace;
  }
}
