@import "/src/styles/variables";

[type="file"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  & + div {
    cursor: pointer;
    height: 10rem;
    width: 12rem;
    background: transparent;
    border: 1px solid $light;
    overflow: hidden;

    & img {
      height: auto;
      width: 120%;
    }

    &.default {
      background: $light;
      border-color: $light;

      & img {
        width: 3rem;
      }
    }
  }
}

.img-icon {
  font-size: 3rem;
  color: $info;
}
