<div class="d-flex" [formGroup]="group">
  <label>
    <input type="hidden" [formControlName]="config.name" />
    <input type="file" (change)="onFileChange($event)" />
    <div
      class="d-flex align-items-center justify-content-center"
      [ngClass]="{ default: isDefaultImage }"
    >
      <ng-container *ngIf="hasImage; else icon">
        <img [src]="imagePath" (error)="onImageLoadError()" />
      </ng-container>
      <ng-template #icon>
        <span class="material-icons-outlined img-icon">
          image
        </span>
      </ng-template>
    </div>
  </label>
</div>
